.software-card-img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.dark-blue-btn {
    background-color: #202e3b;
    color: #fff;
}
.dark-blue-btn:hover {
    background-color: #fff;
    border-color: #202e3b;
    color: #202e3b;
}
.not-found-alert {
    width: 100%;
}
.dark-blue-border {
    border-color: #202e3b;
    color: #202e3b;
}
.dark-blue-border:hover {
    border-color: #202e3b;
    background-color: #202e3b;
    color: #ffffff;
}


.disable{
    pointer-events: none;
}
/* @media (min-width: 1200px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
} */

.search_bar{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
}

.srch_button {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: black;
  }

  .container3 {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  .cart-form {
    margin-left: auto;
    margin-right: 20px;
  }