.dark-blue-back {
    background-color: black;
}

@font-face {
    font-family: "SPX";
    color: red;
  src: url('http://127.0.0.1:9000/lab1/SpaceX.ttf');}

  
.brand-custom{
    font-family: "SPX";
    font-size: 25px;
}

.custom-navbar{
    height: 90px;
}